.phone-icon {
  animation: shake 0.5s infinite;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.showTimer {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.timer {
  transform: translateY(-10px);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
}
